.page-phone-number-bind-success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;

  .body {
    flex: 1;
  }

  .content {
    background-color: #fff;
    width: 686px;
    height: 338px;
    border-radius: 20px 20px 20px 20px;
    margin: 20px auto;
    text-align: center;
  }

  .icon {
    width: 222px;
    height: 180px;
  }

  .text {
    margin-top: 12px;
    font-size: 36px;
    color: #000000;
    font-weight: bold;
  }

  .back {
    margin-top: 32px;
    font-size: 28px;
    color: #292929;
    text-align: center;
  }

  .bottom {
    flex-shrink: 0;
    padding: 0 32px 100px;
  }

  .button {
    background: linear-gradient(90deg, #5f9fde 0%, #337ed9 100%);
  }
}
